student-application-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin: 0 auto;
}


personal-fieldset {
    display: flex;
}
student-application-form-field {
    display: flex;
    flex-wrap: wrap;
}

label {
    margin-top: 30px;
}