:root {
  --normal-font-size: 18px;
  --font-family: Arial;
}
* {
  box-sizing: border-box;
}
body {
  font: var(--font-family);
  scroll-behavior: smooth;
}

.load {
  display: none;
  position: fixed;
  width: 50px;
  height: auto;
  top: 50%;
  left: 50%;
}

.load {
  animation: animate-image 1s ease;
}

@keyframes animate-image {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.show {
  display: block;
}

.student-application-page,
.university,
#login,
#university-allocations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #0b0c10, #1f2833, #fc0404);
  background-color: transparent;
}

.student-application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 400px;
  background-color: #0b0c10;
  border-radius: 15px;
  opacity: 0.7;
}

h3 {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

h1,
p {
  color: #fff;
}

.student-application form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
}

form input {
  width: 350px;
  padding: 10px 5px;
  margin: 10px 0;
  border: 2px solid #fc040499;
  border-radius: 30px;
  outline: none;
  background-color: transparent;
  color: #fff;
}
::placeholder {
  color: #777;
}

.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 350px;
  color: #fff;
  border-radius: 30px;
  margin: 10px 0;
  border: 2px solid #fc040499;
}

.radio-group input[type="radio"] {
  width: auto;
  margin-right: 15px;
}
.radio-group label {
  margin-right: 15px;
  color: #fff;
}

#form1-button,
#form2-Back-button,
#form2-next-button,
#form3-Back-button,
#form3-submit-button,
#allocate-button {
  width: 150px;
  color: #fff;
  transition: background-color 0.3s;
  text-align: center;
}

#form1-button:hover,
#form2-Back-button:hover,
#form2-next-button:hover,
#form3-Back-button:hover,
#form3-submit-button:hover,
#allocate-button:hover {
  background-color: #555;
}

#motivation-label {
  color: #fff;
  padding: 10px;
}

#Motivation {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

#form2,
#form3 {
  display: none;
}

#university-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b0c10;
  border-radius: 10px;
  height: 200px;
  width: 340px;
}

#universityName {
  width: 300px;
}
#university-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}
/* for login form */
/* #login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fc0404;
} */

.show {
  display: flex;
}

#add-new-allocation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 400px;
  border: none;
  border-radius: 15px;
  background-color: #0b0c10;
  opacity: 0.8;
}

#add-new-allocation {
  position: relative;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.header img {
  width: 30px;
  height: 30px;
}

#add-new-allocation img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

#filter-university-allocation {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#university-allocations-table {
  width: 100%;
  border-collapse: collapse;
}

#university-allocations-table th,
#university-allocations-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#university-allocations-table th {
  background-color: #f2f2f2;
}

#university-allocations-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
